/*html { 
  background: url(../img/Splash_Page_Image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.background {
	/*background: transparent !important;*/
   background: url(../img/Splash_Page_Image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@font-face {
    font-family: "NeutraFont-Demi";
    src: url(../fonts/NeutraText-Demi.ttf);
}

.enter {
  color:white;
  padding-left: 1000px;
  padding-top: 300px;
  padding-bottom: 350px;
}



